.footer {
    color: white;


    .links {
        ul {
            list-style-type: none;
        }

        li a {
            color: white;
            transition: color .2s;

            &:hover {
                text-decoration: none;
                color: $color1;
            }
        }

        h4 {
            overflow: hidden;
        }
    }

    .footer__nosotros {
        overflow: hidden;

        i {
            font-size: 25px;
        }

        a {
            color: white;
            text-decoration: none;

            &:hover {
                color: $color1;
            }
        }

        img {
            width: 40%;
            margin-left: 20px;
            height: 50%;
        }
    }

    .locacion {
        i {
            font-size: 18px;
        }

        h4 {
            overflow: hidden;
        }
    }

    .copyright p {
        border-top: 1px solid rgba(255, 255, 255, .1);
    }
}