header{
    padding-bottom: 100px;
}

.bg-color-nav{
    background-color: $color1;
}

.navbar-expand-md{
    position: fixed;
    width: 100%;
    z-index: 16;
    box-shadow: 2px 4px 6px 0 $color2;
}

.navbar-brand {
    width: 40%;
}

.btn__nav {
    justify-content: end;
}

.nav-link{
    color: $color2;
    margin-right: 25px;
}
.nav-link:hover{
    background-color: $color2;
    color: $color1;
    border-radius: 5px;
}
.navbar-collapse{
    flex-basis: 100%;
}
.navbar-toggler-icon{
    background-image: url(../img/iconmenucol.png);
    zoom: 300%;
    border: 1px solid $color2;
    background-size: cover;
}


@media only screen and (max-width:400px) {
    header{
        padding-bottom: 40px;
    }

    .navbar-brand {
        width: 40%;
    }
}
@media only screen and (min-width:400px) and (max-width:767px) {
    header{
        padding-bottom: 50px;
    }
    nav img{
        height: 80px;
        max-width: 150px;
    }
    .navbar-brand {
        width: 80%;
    }
}
@media (min-width:768px) and (max-width:850px) {
    .header__nav{
        a{
            width: 70%;
        }
    }

    .navbar-brand {
        width: 30%;
    }

}