.noticia__template {
    margin-top: 100px;
    padding: 0;

    h1 {
        display: flex;
        align-items: center;
        color: $color2;
        font-weight: 700;
        justify-content: end;
        letter-spacing: 5px;
        overflow: hidden;
        margin-top: 5px;
        text-shadow: 1px 1px 2px black;
    }

}


.imagen__template {
    height: 500px;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;

    img {
        width: 80%;
        height: 100%;
        background-size: cover;
        background-position: center;
        align-items: center;
    }
}