@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400;500;600;700;800;900&display=swap');

/* font-family: 'Encode Sans', sans-serif; */

$color1: rgb(201, 44, 49);
$color2: rgb(254, 221, 0);
$color3: rgb(54, 76, 115);
$color4: rgb(0, 145, 134);
$font1: 'Encode Sans',
sans-serif;


* {
    font-family: $font1;
    box-sizing: border-box;
    overflow-x: hidden
}


.container-fluid {
    margin-left: 10px;
}

.cubre_seccion{
    overflow: hidden;
}

.sec {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 5px;
    border-bottom: 3px solid $color1;
    text-decoration: none;
    margin-bottom: 5px;    
    height: 49%;
    overflow: hidden;

    img {
        max-width: 70%;
        background-size: cover;
        background-position: left;
        border-radius: 10px;
        height: 60%;
    }

    h2 {
        margin-left: 5px;
        text-align: center;
        font-weight: 600;
        color: black   ; 
    }
}


.cubre_seccion:hover {
    zoom: 120%;
    opacity: 100%;
    transition: all 0.7s;
    span{
        zoom:80%;
    }
}

.sec:hover {
    zoom: 120%;
    opacity: 100%;
    transition: all 0.7s;
    span{
        zoom:80%;
    }
}
.newprincipal {
    height: 460px;
    background-image: repeating-linear-gradient(180deg, rgba(255, 255, 255, 0), $color1), url(../img/covid.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    opacity: 80%;


    h1 {
        display: flex;
        align-items: center;
        color: $color2;
        font-weight: 700;
        justify-content: end;
        padding-top: 20%;
        letter-spacing: 5px;
        overflow: unset;
    }
}


span {
    font-size: 10px;
    background-color: $color1;
    color: #fff;
}

.H2 {
    border-bottom: 2px solid $color2;
    border-top: 1px solid $color2;
    padding: 4px;
    text-align: center;
    margin: 0px 0 5px 0;
    color: $color1;
    font-family: $font1;
    word-spacing: 15px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 900;
    margin: 10px 0 3px 0;
    font-size: 4.5vw;
    overflow: unset;
}

h3{
    overflow: hidden;
}

.NP_H2 {
    margin-top: 5px;
}

.sec::after {
    content: "";
    display: table;
    clear: both;
}


.column {
    float: left;
    width: 25%;
    padding: 20px;
    padding: 10px;
    background-color: #beb9b9;
    color: #fff;
    border-radius: 10px;
    border: 5px solid #fff;
    height: 250px;
    overflow: hidden;

}

.row::after {
    content: "";
    display: table;
    clear: both;
}


.row {
    img {
        height: 60%;
        width: 70%;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        color: $color1;
        text-shadow: 1px 1px 2px black;
        transition: all 0.7s;

    }

    h2 {
        top: 50%;
        text-align: center;
        padding: 5px;
    }
    
}

.sec span {
    position: absolute;
}


.video {
    justify-content: center;
}

.container__imgsemanal {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 10px 0 10px;

    img {
        width: 100%;
        height: auto;
        border-radius: 10px;

    }
}

.carousel-inner {
    height: 300px;
    width: 100%;
}

.seccion__carrousel {
    margin: 10px 0 10px 0;
    height: 450px;
}

.carousel-inner {
    height: 450px;
    background-size: cover;
    background-position: center;

}

.carousel-item img {
    width: 100%;
    height: 50%;
    background-size: cover;
}




.contacto__form {
    margin-top: 15px;
    background-image: linear-gradient(to right top, #cb2c30, #e45a24, #f6850f, #feb100, #fedd00);
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    form input {
        margin: 0 0px 5px 10px;
    }

    form textarea {
        margin: 0 0px 5px 10px;
    }

    p {
        color: #fff;
    }
    .btn{
        display: flex;
        background-color: #fff;
        color: $color1;
    }
}
.btn:hover{
    background-color: $color2;
    border: $color2 3px solid;
}


.fondo__contacto{
    height: 600px;
    width: 100%;
    background-image: url(../img/contact.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}


@media only screen and (max-width:400px) {

    .cubre_seccion{
        height: 450px;
    }

    span{
        width: 20%;
    }

    .cubre_seccion {
        flex-direction: column;
        justify-content: end;
        margin-right: 10px;

        img {
            min-width: 80%;
            align-self: center;
        }

        span {
            position: relative;
            width: 20%;
        }

    }

    .sec h2{
        font-size: 15px;
        overflow: hidden;
    }

    .newprincipal {
        margin: 15px 20px 0 20px;
        height: 350px;
        background-position: left;

        h1 {
            font-size: 20px;
        }
    }
    .column{
        width: 100%;
    }
    .seccion__carrousel {
        height: 200px;
    }

    .carousel-inner {
        height: 200px;
    }
}

.bg-footer {
    background-color: $color1;


.H2{
    height: 50px;
}



}
@media only screen and (min-width:400px) and (max-width:767px) {

.cubre_seccion{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 10px;
    height: 250px;
}

.main_margin{
    margin: 40px 10px 5px 10px;
}

    .sec {
        height: 100%;
        img {
            max-width: 90%;
            margin-bottom: 5px;
        }

        h2 {
            font-size: 20px;
        }
    }

    .column {
        width: 50%;
    }

    .newprincipal {
        height:250px;
    h1 {
        font-size: 25px;
    }
}
    .seccion__carrousel {
        height: 250px;
    }

    .carousel-inner {
        height: 250px;
    }

    

    .H2{
        height: 80px;
    }
    
}

@media only screen and (min-width:767px) {

    
    .cubre_seccion{
        height: 450px;
    }

    .sec h2 {
        font-size: 20px;
    }

    .newprincipal h1 {
        font-size: 45px;
    }



}
@import "__header";
@import "__paginatemplete";
@import "__footer";